
# Firebase Admin SDK Key
/src/keys/*.json
src/keys/*.json
# Se você tiver um arquivo serviceAccountKey.json na raiz (não recomendado para commit)
serviceAccountKey.json

# Next.js
.next/
out/
build/

# Ignorar a pasta de segredos e tudo dentro dela
.secrets/

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.env
.env*.local
*.env

# VSCode
.vscode/

# Outros
.DS_Store
*.pem
*.log
